<div class="container center-block image-fill">
  <div class="row"><img src="../assets/Images/got-final.jpg" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
  </div>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']">Game Of Thrones</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" >Show Details</a>
  </li>
    </ul>
  </div>
</nav>
</div> 
<hr>

<router-outlet></router-outlet>
 