<h2>
    ABOUT AN API OF ICE AND FIRE
  </h2>
  
  <h5>
    An API of Ice And Fire is the world's greatest source for quantified and structured data from the universe of Ice and Fire
    (and the HBO series Game of Thrones). This will give you access to data about all the Books, Characters and Houses.
  </h5>
  
  <br/>
  <br/>
  <div class="container">
    <div class="row" style="text-align:center;">
      <div class="col-sm-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 39rem; height:40rem;">
          <br/>
          <div class="card-header">
            <h3>
            BOOK LIST
            </h3>
          </div>
          <br/>
          <br/>
          <div class="card-body">
            
            <p class="card-text"> A Game of Thrones is the first novel in A Song of Ice and Fire, a series of fantasy novels by American author George
                R. R. ... In the novel, recounting events from various points of view, Martin introduces the plot-lines of the noble
                houses of Westeros, the Wall, and the Targaryens.</p>
          </div>
          <br/>
          <br/>
          <div class="card-footer text-muted">
            <a routerLink="/book" class="btn btn-warning">See Book List</a>
          </div>
        </div>
        
      </div>
      <div class="col-sm-4">
        <div class="card text-black bg-danger mb-3" style="max-width: 39rem; height:40rem;">
          <br/>
          <div class="card-header">
            <h3 style="font-style: italic;">HOUSE LIST</h3>
          </div>
          <br/>
          <br/>
          <div class="card-body">
  
            <p class="card-text"> There are nine Great Houses in Westeros. When the show began, they were Stark, Arryn, Baratheon, Tully, Greyjoy,
              Lannister, Tyrell, Martell and Targaryen. As of Game of Thrones Season 6, Daenerys is the only surviving Targaryen
              and remains in exile. House Stark and House Tully have also been displaced, their lands taken away from them,
              but both Houses survive—at least for now.</p>
          </div>
                 
          <div class="card-footer text-muted">
            <a routerLink="/house" class="btn btn-primary">See House List</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card text-white bg-success mb-3" style="max-width: 39rem; height:40rem;">
          <br/>
          <div class="card-header">
           <h3 style="font-style: italic;"> CHATACTER LIST</h3>
          </div>
          <br/>
          <br/>
          <div class="card-body">
            
            <p class="card-text"> The characters from the American medieval fantasy television series Game of Thrones are based on their respective
              counterparts from author George R. R. Martin's A Song of Ice and Fire series of novels. Set in a fictional universe
              that has been referred to so far as "The Known World," </p>
          </div>
          <br/>
          <br/>
          <div class="card-footer text-muted">
            <a routerLink="/character" class="btn btn-danger"> See Character List</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>